<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CRUD Operations</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <div class="box create">
        <a href="{{ url_for('create') }}">Create</a>
    </div>
    <div class="box read">
        <a href="{{ url_for('fetch_data') }}">Read</a>
    </div>
    <div class="box update">
        <a href="{{ url_for('update') }}">Update</a>
    </div>
    <div class="box delete">
        <a href="{{ url_for('delete') }}">Delete</a>
    </div>
</div>

<script>

{% if session.get('message') %}
    alert('{{ session['message'] }}');
{% endif %}

</script>

</body>
</html>
